@model BookingSystemApp.View_Models.DietInfoVM

@{
    ViewBag.Title = "New Diet Info";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-top: 100px;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="input-field">
            @Html.EditorFor(model => model.Name)
            @Html.LabelFor(model => model.Name, "Name")
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="button" value="Cancel" class="btn-flat" onclick="location.href='@Url.Action("Index")'" />
            <div style="text-align:end; display: inline-block; float: right;">
                <input type="submit" value="Create" class="btn btn-primary dark-blue" />
            </div>
        </div>
    </div>
}