@model BookingSystemApp.View_Models.RestaurantVM

@{
    ViewBag.Title = "Restaurant Details";
}

<div class="form-horizontal" style="margin-top: 5em; overflow: hidden;">
    <div class="row">
        <div class="col s3">
            @Html.LabelFor(model => model.Name, "Name")<br />
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="col s3">
            @Html.LabelFor(model => model.PhoneNo, "Phone No.")<br />
            @Html.DisplayFor(model => model.PhoneNo)
        </div>
    </div>

    <div class="row">
        <div class="col s3">
            @Html.LabelFor(model => model.AddressStreet, "Street")<br />
            @Html.DisplayFor(model => model.AddressStreet)
        </div>
        <div class="col s3">
            @Html.LabelFor(model => model.AddressTown, "Town")<br />
            @Html.DisplayFor(model => model.AddressTown)
        </div>
        <div class="col s3">
            @Html.LabelFor(model => model.AddressCounty, "County")<br />
            @Html.DisplayFor(model => model.AddressCounty)
        </div>
        <div class="col s3">
            @Html.LabelFor(model => model.AddressPostalCode, "Postal Code")<br />
            @Html.DisplayFor(model => model.AddressPostalCode)
        </div>
    </div>
</div>

<hr/>

<h4>Menu</h4>
<div class="row">
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Diet Info
            </th>
            <th>
                Categories
            </th>
        </tr>
        @foreach (var menuItem in Model.MenuItems)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => menuItem.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => menuItem.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => menuItem.DietInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => menuItem.Types)
                </td>
            </tr>
        }
    </table>
</div>
