@model BookingSystemApp.View_Models.CompanyVM

@{
    ViewBag.Title = "About The Company";
}

<div class="form-horizontal" style="margin-top: 5em; margin-bottom: 5em; overflow: hidden;">

    <h5>Details</h5>

    <div class="row">
        @Html.LabelFor(model => model.Name, "Name")<br />
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Description, "Description")<br />
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.AddressStreet, "Address")<br />
        @Html.DisplayFor(model => model.AddressStreet),
        @Html.DisplayFor(model => model.AddressTown),
        @Html.DisplayFor(model => model.AddressCounty),
        @Html.DisplayFor(model => model.AddressPostalCode)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.PhoneNo, "Phone No")<br />
        @Html.DisplayFor(model => model.PhoneNo)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Email, "Email")<br />
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.RestaurantCount, "Total Number of Restaurants")<br />
        @Html.DisplayFor(model => model.RestaurantCount)
    </div>
</div>