@model IList<BookingSystemApp.View_Models.AddMenuItemVM>

@{
    ViewBag.Title = "Add Menu Items";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-top: 100px;">

        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Diet Information
                </th>
                <th>
                    Categories
                </th>
                <th>
                    Price
                </th>
                <th>Selected</th>
            </tr>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(x => x[i].Name)
                        @Html.DisplayFor(x => x[i].Name)
                    </td>
                    <td>
                        @Html.HiddenFor(x => x[i].Description)
                        @Html.DisplayFor(x => x[i].Description)
                    </td>
                    <td>
                        @Html.HiddenFor(x => x[i].DietInfo)
                        @Html.DisplayFor(x => x[i].DietInfo)
                    </td>
                    <td>
                        @Html.HiddenFor(x => x[i].Types)
                        @Html.DisplayFor(x => x[i].Types)
                    </td>
                    <td>
                        @Html.HiddenFor(x => x[i].Price)
                        £@Html.DisplayFor(x => x[i].Price)
                    </td>
                    <td>
                        <label style="text-align: center; width: 100%; display: block;">
                            <input id="select-@Model[i].Id" type="checkbox" class="filled-in" />
                            <span></span>
                        </label>

                        <script type="text/javascript">
                            $('#select-@Model[i].Id').on("click", function (e) {
                                if ($(this).is(":checked")) {
                                    $.ajax({
                                        url: "/Booking/AddMenuItem?Id=@Model[i].Id",
                                        cache: false,
                                        contentType: false,
                                        processData: false,
                                        method: 'POST',
                                        type: 'POST'
                                    });
                                } else {
                                    $.ajax({
                                        url: "/Booking/RemoveMenuItem?Id=@Model[i].Id",
                                        cache: false,
                                        contentType: false,
                                        processData: false,
                                        method: 'POST',
                                        type: 'POST'
                                    });
                                }
                            });
                        </script>
                    </td>
                </tr>
            }
        </table>
        <div class="form-group" style="text-align:end;">
            <input type="submit" value="Next" class="btn btn-primary dark-blue" />
        </div>
    </div>
}