@model BookingSystemApp.View_Models.RestaurantVM

@{
    ViewBag.Title = "Restaurant Details";
}

<div class="form-horizontal" style="margin-top: 100px; overflow: hidden;">

    <div class="row">
        <div class="col s3">
            @Html.LabelFor(model => model.Name, "Name")<br />
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="col s3">
            @Html.LabelFor(model => model.PhoneNo, "Phone No.")<br />
            @Html.DisplayFor(model => model.PhoneNo)
        </div>
    </div>

    <div class="row">
        <div class="col s3">
            @Html.LabelFor(model => model.AddressStreet, "Street")<br />
            @Html.DisplayFor(model => model.AddressStreet)
        </div>
        <div class="col s3">
            @Html.LabelFor(model => model.AddressTown, "Town")<br />
            @Html.DisplayFor(model => model.AddressTown)
        </div>
        <div class="col s3">
            @Html.LabelFor(model => model.AddressCounty, "County")<br />
            @Html.DisplayFor(model => model.AddressCounty)
        </div>
        <div class="col s3">
            @Html.LabelFor(model => model.AddressPostalCode, "Postal Code")<br />
            @Html.DisplayFor(model => model.AddressPostalCode)
        </div>
    </div>

    <div class="row" style="text-align:end;">
        <input type="button" value="Edit" class="btn btn-primary dark-blue" onclick="location.href='@Url.Action("Edit", new { Id = Model.Id })'" />
    </div>

    <hr />

    <div class="row">
        @using (Html.BeginForm("AddMenuItem", "RestaurantAdmin", FormMethod.Post, new { style = "overflow: hidden; margin-top: 1em;" }))
        {
            <div class="row">
                <div class="col s12">
                    <label>Select menu item to add</label>
                </div>
                <div class="col s4">
                    @Html.DropDownList("menuItemId", null, "Select menu item", htmlAttributes: new { @class = "browser-default" })
                </div>
                <div class="col s8">
                    <input type="submit" value="Add" class="btn btn-primary dark-blue" />
                </div>
            </div>
        }

        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Diet Information
                </th>
                <th>
                    Categories
                </th>
                <th></th>
            </tr>

            @foreach (var menuItem in Model.MenuItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => menuItem.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => menuItem.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => menuItem.DietInfo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => menuItem.Types)
                    </td>
                    <td class="table-cell-align-end">
                        <input type="button" value="Remove" class="btn btn-primary dark-blue" onclick="location.href='@Url.Action("RemoveMenuItem", new { id = menuItem.Id })'" />
                    </td>
                </tr>
            }
        </table>
    </div>

</div>