@model BookingSystemApp.View_Models.MenuItemViewVM

@{
    ViewBag.Title = "Menu Item Details";
}

<div class="form-horizontal" style="margin-top: 5em; margin-bottom: 5em; overflow: hidden;">

    <div class="row">
        <input type="button" value="Back" class="btn btn-primary dark-blue" onclick="location.href='@Url.Action("Index", "MenuItemAdmin")'" />
    </div>

    <h5>Details</h5>

    <div class="row">
        <img src="@Url.Action("ImageFromId", new { id = Model.ImageId })" style="height: 10em;" />
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Name, "Name")<br />
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Description, "Description")<br />
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Price, "Price")<br />
        £@Html.DisplayFor(model => model.Price)
    </div>

    <div class="row" style="text-align:end;">
        <input type="button" value="Edit" class="btn btn-primary dark-blue" onclick="location.href='@Url.Action("Edit", new { Id = Model.Id })'" />
    </div>

    <hr />

    <h5>Diet Information</h5>

    <div class="row">
        @using (Html.BeginForm("AddDietInfo", "MenuItemAdmin", FormMethod.Post, new { style = "overflow: hidden; margin-top: 1em;" }))
        {
            <div class="row">
                <div class="col s12">
                    <label>Select diet information to add</label>
                </div>
                <div class="col s4">
                    @Html.DropDownList("dietInfoId", null, "Select diet info", htmlAttributes: new { @class = "browser-default" })
                </div>
                <div class="col s8">
                    <input type="submit" value="Add" class="btn btn-primary dark-blue" />
                </div>
            </div>
        }

        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th></th>
            </tr>

            @foreach (var dietInfo in Model.DietInfo)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => dietInfo.Name)
                    </td>
                    <td class="table-cell-align-end">
                        <input type="button" value="Remove" class="btn btn-primary dark-blue" onclick="location.href='@Url.Action("RemoveDietInfo", new { id = dietInfo.Id })'" />
                    </td>
                </tr>
            }
        </table>
    </div>

    <hr />

    <h5>Categories</h5>

    <div class="row">
        @using (Html.BeginForm("AddCategory", "MenuItemAdmin", FormMethod.Post, new { style = "overflow: hidden; margin-top: 1em;" }))
        {
            <div class="row">
                <div class="col s12">
                    <label>Select category to add</label>
                </div>
                <div class="col s4">
                    @Html.DropDownList("categoryId", null, "Select category", htmlAttributes: new { @class = "browser-default" })
                </div>
                <div class="col s8">
                    <input type="submit" value="Add" class="btn btn-primary dark-blue" />
                </div>
            </div>
        }

        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th></th>
            </tr>

            @foreach (var category in Model.Types)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => category.Name)
                    </td>
                    <td class="table-cell-align-end">
                        <input type="button" value="Remove" class="btn btn-primary dark-blue" onclick="location.href='@Url.Action("RemoveCategory", new { id = category.Id })'" />
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="row">
        <input type="button" value="Back" class="btn btn-primary dark-blue" onclick="location.href='@Url.Action("Index", "MenuItemAdmin")'" />
    </div>

</div>