@model IEnumerable<BookingSystemApp.View_Models.MenuItemViewVM>

@{
    ViewBag.Title = "Menu Item Admin Index";
}

<div class="row">
    <table class="table">
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Diet Information
            </th>
            <th>
                Categories
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>

        @foreach (var menuItem in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Action("ImageFromId", new { id = menuItem.ImageId })" style="height: 5em;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => menuItem.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => menuItem.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => menuItem.DietInfoS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => menuItem.TypesS)
                </td>
                <td>
                    £@Html.DisplayFor(modelItem => menuItem.Price)
                </td>
                <td class="table-cell-align-end">
                    <input type="button" value="Details" class="btn btn-primary dark-blue" onclick="location.href='@Url.Action("Details", new { id = menuItem.Id })'" />
                </td>
            </tr>
        }
    </table>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light dark-blue" href="@Url.Action("Create")"><i class="material-icons">add</i></a>
</div>