@model IEnumerable<BookingSystemApp.View_Models.MenuIndexCategoryVM>
@{
    ViewBag.Title = "Menu";
}

@foreach (var category in Model)
{
    <div class="row" style="margin-top: 2em; overflow: hidden;">
        <h4>@category.Category.Name</h4>
        <table class="table">
            <tr>
                <th></th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Diet Info
                </th>
                <th>
                    Categories
                </th>
                <th>
                    Price
                </th>
            </tr>
            @foreach (var menuItem in category.MenuItems)
            {
                <tr>
                    <td>
                        <img class="materialboxed" src="@Url.Action("ImageFromId", new { id = menuItem.ImageId })" style="height: 5em;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => menuItem.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => menuItem.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => menuItem.DietInfoS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => menuItem.TypesS)
                    </td>
                    <td>
                        £@Html.DisplayFor(modelItem => menuItem.Price)
                    </td>
                </tr>
            }
        </table>
    </div>
}

<script type="text/javascript">

    $(document).ready(function () {
        $('.materialboxed').materialbox();
    });

</script>