<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Restaurant Booking System</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/toastr")
    
</head>
<body>
    <header>
        @Scripts.Render("~/bundles/toastr")
        @Html.Partial("_Toastr")
        <nav class="top-nav">
            <div class="nav-wrapper dark-blue">
                <div class="row">
                    <div class="col s12">
                        <h3 class="header" style="text-align: center;">@ViewBag.Title</h3>
                    </div>
                </div>
            </div>
        </nav>
        <ul id="nav-mobile" class="sidenav sidenav-fixed">
            <li class="logo">
                <img src="~/images/side-logo.jpg" alt="Logo" style="padding: 0 32px;" />
            </li>
            <li class="bold" style="margin-top:20px;">
                <a href="/Home" class="waves-effect">Home</a>
            </li>
            <li class="bold">
                <a href="/Restaurant" class="waves-effect">Restaurants</a>
            </li>
            <li class="bold">
                <a href="/Menu" class="waves-effect">Menu</a>
            </li>
            <li class="bold">
                <a href="/Home/About" class="waves-effect">About</a>
            </li>

            @if (Session[Global.IsAdminSessionVar] != null && (bool)Session[Global.IsAdminSessionVar])
            {
                <li>
                    <hr />
                </li>
                <li>
                    <a href="/Admin" class="waves-effect">Admin</a>
                </li>
            }

            <li>
                <hr />
            </li>

            @if (Session[Global.UsernameSessionVar] != null)
            {
                <li style="padding: 0 32px;"><b>Username:</b> @Session[Global.UsernameSessionVar]</li>

                if (Session[Global.UserIdSessionVar] != null)
                {
                    <li>
                        <a href="@Url.Action("details", "customer", new { id = Session[Global.UserIdSessionVar] })" class="waves-effect">Details</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index", "booking", new { userId = Session[Global.UserIdSessionVar] })" class="waves-effect">Bookings</a>
                    </li>
                }
                <li>
                    <a href="/Customer/Logout" class="waves-effect">Logout</a>
                </li>
            }
            else
            {
                <li>
                    <a href="/Customer/Login" class="waves-effect">Login</a>
                </li>
                <li>
                    <a href="/Customer/Register" class="waves-effect">Register</a>
                </li>
            }
        </ul>
    </header>
    <main>
        <div class="container">
            @RenderBody()
            <hr />
        </div>
    </main>

    <footer class="page-footer grey">
        <div class="footer-copyright">
            <div class="container">
                Computing Project - Restaurant Booking System

                <div style="float: right">
                    Matthew Gleeson
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/materialize")
    
    @RenderSection("scripts", required: false)
</body>
</html>
